.base {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lg {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.sm {
  height: 30%;
  width: 30%;
  margin: 35%;
}

.orange {
  background: #f1d9bf;
}

.green {
  background: #d1e1db;
}
.blue {
  background: #dbe9f1;
}
